---
- name: Docker, postgres and keycloak
  hosts: OTHERS
  become: yes
  vars_files:
    - ../secrets.yml
  tasks:
   - name: Installation of System packages and Docker SDK
     apt: 
      name: [ca-certificates, curl, gnupg, python3-docker]
      update_cache: yes
  

   - name: Docker repo
     shell: |
       install -m 0755 -d /etc/apt/keyrings
       curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
       echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable" > /etc/apt/sources.list.d/docker.list
     args:
       creates: /etc/apt/sources.list.d/docker.list


   - name: Install Docker
     apt: 
       name: [docker-ce, docker-ce-cli, containerd.io]
       update_cache: yes


   - name: Docker Network
     docker_network:
       name: keycloak_net


   - name: Install postgres
     docker_container:
       name: postgres_db
       image: ubuntu/postgres:12-20.04_beta
       network_mode: keycloak_net
       env: 
         POSTGRES_DB: "{{ POSTGRES_DB }}"
         POSTGRES_USER: "{{ POSTGRES_USER }}"
         POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
       restart_policy: always


   - name: Install Keycloak
     docker_container: 
       name: keycloak
       image: quay.io/keycloak/keycloak:26.5
       network_mode: keycloak_net
       command: start-dev
       ports:
         - "{{ ports }}"
       env:
         KC_DB: "{{ KC_DB }}"
         KC_DB_URL: "{{ KC_DB_URL }}"
         KC_DB_USERNAME: "{{ KC_DB_USERNAME }}"
         KC_DB_PASSWORD: "{{ KC_DB_PASSWORD }}"
         KEYCLOAK_ADMIN: "{{ KEYCLOAK_ADMIN }}"
         KEYCLOAK_ADMIN_PASSWORD: "{{ KEYCLOAK_ADMIN_PASSWORD }}"
       restart_policy: always


