---
- name: Docker, postgres and keycloak
  hosts: OTHERS
  become: yes
  tasks:
   - name: Installation of System packages and Docker SDK
     apt: 
      name: [ca-certificates, curl, gnupg, python3-docker]
      update_cache: yes
  

   - name: Docker repo
     shell: |
       install -m 0755 -d /etc/apt/keyrings
       curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
       echo "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable" > /etc/apt/sources.list.d/docker.list
     args:
       creates: /etc/apt/sources.list.d/docker.list


   - name: Install Docker
     apt: 
       name: [docker-ce, docker-ce-cli, containerd.io]
       update_cache: yes


   - name: Docker Network
     docker_network:
       name: keycloak_net


   - name: Install postgres
     docker_container:
       name: postgres_db
       image: ubuntu/postgres:12-20.04_beta
       network_mode: keycloak_net
       env: 
         POSTGRES_DB: "keycloak"
         POSTGRES_USER: "keycloak"
         POSTGRES_PASSWORD: "1234"
       restart_policy: always


   - name: Install Keycloak
     docker_container: 
       name: keycloak
       image: quay.io/keycloak/keycloak:26.5
       network_mode: keycloak_net
       command: start-dev
       ports:
         - "8080:8080"
       env:
         KC_DB: "postgres"
         KC_DB_URL: "jdbc:postgresql://postgres_db:5432/keycloak"
         KC_DB_USERNAME: "keycloak"
         KC_DB_PASSWORD: "1234"
         KEYCLOAK_ADMIN: "admin"
         KEYCLOAK_ADMIN_PASSWORD: "1234"
       restart_policy: always


